@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Prata&display=swap');

body {
  background-color: #000;
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.container {
  margin: 2% 10%;
}

/* Navbar section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links ul {
  display: inline-block;
}
.nav-links {
  display: flex;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 10px;
}
nav ul li button {
  display: none;
}
nav ul li a {
  transition: 0.5s;
}
nav .fas {
  display: none;
}
a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
a:hover::after {
  width: 100%;
}
button {
  background-color: yellow;
  color: #000;
  width: 140px;
  height: 45px;
  padding: 6px 10px;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  font-family: sans-serif;
  transition: 0.5s;
}
button:hover {
  background-color: grey;
  color: #fff;
  transition: 0.5s;
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  font-size: 1.1rem;;
  color: #a4a1a1;
}
h1, h3 {
  font-family: 'Prata', serif;
  color: #fff;
}
.menu-btn {
  display: none;
}
.name-logo {
  font-weight: bold;
}

/* Header Text Section */

.header-text {
  width: 70%;
  margin: 5% 0;
}
.header-text h1 {
  font-size: 7.3vh;
  font-weight: 300;
  margin: 0;
}
.header-text p {
  color: grey;
  margin: 0;
}

/* Logos Section */

.logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Blog Section */

.blog-section {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
.blog-section h1 {
  font-size: 4vh;
  font-weight: 100;
  margin: 10px 0;
}
.article {
  display: inline-block;
  width: 40%;
}
.article img {
  width: 100%;
}

/* Info Section */

.info-section {
  display: flex;
  background-color: rgb(46,48,56);
  width: 100%;
  right: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
}
.info-section .article-section {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* hire me section */

.hire-me {
  width: 50%;
}
.hire-me p {
  font-size: 20px;
  font-weight: 200;
}

/* Footer Section  */

.footer {
  width: 100%;
  background-color: rgb(46,48,56);
  display: flex;
  justify-content: center;
  text-align: center;
}
.footer .content {
  width: 40%;
  display: flex;
  /* justify-content: space-between; */
}
.content .social-images {
  display: flex;
  justify-content: center;
  position: relative;
  left: 80%;
}
.content img {
  margin-right: 20px;
}

/* For Tablets and iPad  */

@media only screen and (min-width: 670px) and (max-width: 1050px) {
  nav {
    margin-top: 30px;
  }
  .nav-link-button {
    display: none;
  }
  nav ul li button {
    display: block;
  }
  .menu-btn {
    z-index: 3;
  }
  #navLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 2;
    width: 250px;
    height: 100vh;
    background: #000;
    transition: 0.7s;
  }
  #navLinks li {
    margin-bottom: 30px;
  }
  .menu-btn {
    display: block;
  }

  /* Header Section */

  .header-text {
    margin-top: 60px;
    width: 100%;
  }
  .header-text h1 {
    font-size: 50px;
  }

  /* logos section */

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logos img {
    width: 35px;
    height: 25px;
    flex: 1 1 30%;
    margin-bottom: 10px;
  }

  /* Blog section */

  .blog-section {
    display: flex;
    flex-direction: column;
  }
  .article {
    width: 100%;
    display: block;
    margin-bottom: 40px;
  }

  /* Info Section */

  .info-section {
    display: flex;
    background-color: rgb(46,48,56);
    width: 100%;
    right: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
  }
  .info-section .article-section {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Hire me section */

  .hire-me {
    margin: 80px 0;
    width: 100%;
  }
  .hire-me h1 {
    font-size: 40px;
  }
  .hire-me p {
    font-size: 22px;
  }

}

@media only screen and (min-width: 350px) and (max-width: 669px) {
  nav {
    margin-top: 30px;
    overflow: hidden;
  }
  .nav-link-button {
    display: none;
  }
  nav ul li button {
    display: block;
  }
  .menu-btn {
    z-index: 3;
  }
  #navLinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 2;
    width: 200px;
    height: 100vh;
    background: #000;
    transition: 0.7s;
  }
  #navLinks li {
    margin-bottom: 30px;
  }
  .menu-btn {
    display: block;
  }

  /* Header Section */

  .header-text {
    margin-top: 60px;
    width: 100%;
  }
  .header-text h1 {
    font-size: 6.6vmin;
  }

  /* logos section */

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20% 0;
  }
  .logos img {
    width: 35px;
    height: 25px;
    flex: 1 1 50%;
    margin-bottom: 20px;
  }

  /* Blog section */

  .blog-section {
    display: flex;
    flex-direction: column;
  }
  .article {
    width: 100%;
    display: block;
    margin-bottom: 40px;
  }

  /* Info Section */

  .info-section {
    display: flex;
    background-color: rgb(46,48,56);
    width: 100%;
    right: 0;
    left: 0;
    flex-direction: row;
    justify-content: center;
  }
  .info-section .article-section {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Hire me section */

  .hire-me {
    margin: 80px 0;
    width: 100%;
  }
  .hire-me h1 {
    font-size: 23px;
  }
  .hire-me p {
    font-size: 15px;
  }

  /* Footer Section */
  .content h3 {
    font-size: 13px;
  }
  .content img {
    margin-right: 4px;
  }
  .content .social-images {
    left: 40%;
    align-items: stretch;
  }
}
